
/* Your CSS Code here. */
 table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 8px;
    }
    .black-cell {
      background-color: black;
      color: white;
    }